:root {
  --color-yellow: #f4d04e;
  --color-white: #ffffff;
  --color-gray-500: #6b6b6b;
  --color-gray-950: #111111;

  --font-family-main: "Figtree", sans-serif;
  --font-size-title: clamp(1.25rem, calc(1.162rem + 0.376vw), 1.5rem);
  --font-size-paragraph: clamp(0.875rem, calc(0.831rem + 0.188vw), 1rem);
  --font-size-information: clamp(0.75rem, calc(0.706rem + 0.188vw), 0.875rem);

  --line-height-base: 150%;

  --font-weight-medium: 500;
  --font-weight-extrabold: 800;

  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-main);
  background: var(--color-yellow);
  min-height: 100dvh;
  padding: var(--spacing-300);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 384px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--color-gray-950);
  padding: var(--spacing-300);
  background: var(--color-white);
  box-shadow: 8px 8px 0 0 #000;
  transition: box-shadow 150ms ease-out;
  &:hover,
  &:focus-within {
    box-shadow: 16px 16px 0 0 #000;
  }
  &:hover h2 a,
  &:focus-within h2 a {
    color: var(--color-yellow);
  }
}

.illustration {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

.badge {
  background: var(--color-yellow);
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  color: var(--color-gray-950);
  font-size: var(--font-size-information);
  font-style: normal;
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-150);
}

time {
  font-size: var(--font-size-information);
  color: var(--color-gray-950);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-150);
}

h2 {
  margin-bottom: var(--spacing-150);
  & a {
    align-self: stretch;
    text-decoration: none;
    color: var(--color-gray-950);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-base);
    cursor: pointer;
  }
}

p {
  color: var(--color-gray-500);
  font-size: var(--font-size-paragraph);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-300);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
  & img {
    width: 32px;
    height: auto;
    border-radius: 50%;
  }
  & span {
    color: var(--color-gray-950);
    font-size: var(--font-size-information);
    font-style: normal;
    font-weight: var(--font-weight-extrabold);
    line-height: var(--line-height-base);
  }
}
